/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}

body {
    /* display: flex; */
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: #e0eafc;
    background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
    background: linear-gradient(to right, #cfdef3, #e0eafc);
}


.app{
    width: 90%;
    margin-left: 120px;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.container
{
    max-width: 650px;
    width: 100%;
    padding: 20px 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 auto;
    margin-top: 100px;
}

.drag-area {
    height: 400px;
    border: 3px dashed #e0eafc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px auto;
}

.drag-area .icon {
    font-size: 50px;
    color: #1683ff;
}

.drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support, .note {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
}

.drag-area.active {
    border: 3px solid #1683ff;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.drag-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.range{
    height: 80px;
    width: 380px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .sliderValue{
    position: relative;
    width: 100%;
  }
  .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    transform: translateX(-70%) scale(0);
    font-weight: 500;
    top: -40px;
    line-height: 55px;
    z-index: 2;
    color: #fff;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
  }
  .sliderValue span.show{
    transform: translateX(-70%) scale(1);
  }
  .sliderValue span:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: #664AFF;
    border: 3px solid #fff;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-bottom-left-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  .field .value{
    position: absolute;
    font-size: 18px;
    color: #664AFF;
    font-weight: 600;
  }
  .field .value.left{
    left: -22px;
  }
  .field .value.right{
    right: -43px;
  }
  .range input{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
  }
  .range input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    border: 1px solid #664AFF;
    cursor: pointer;
  }
  .range input::-moz-range-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    background: #664AFF;
    border: 1px solid #664AFF;
    cursor: pointer;
  }
  .range input::-moz-range-progress{
    background: #664AFF;
  }

#number{
    text-align: center;
}

#result{
    height: 700px;
    max-width: 1000px;
}

.range{
    display: none;
}

#showIMG{
    display: none;
    margin-top: -100px;
}

.upload__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.upload__img img{
    /* max-height:100%; 
    max-width:100%; */
    max-height: 650px;
}

.img__box{
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;
}

.img__box img{
    max-height: 600px;
}

.info__box{
    width: 400px;
    height: 600px;
    background-color: #eeeeee;
}

.box{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 200px;
}

.info__box p{
    padding-top: 30px;
    padding-left: 30px;
}

.wrapper_radio{
  display: flex;
  background: #fff;
  height: 100px;
  width: 500px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  margin: 0 auto;
  margin-top: 50px;
}
.wrapper_radio .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper_radio .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper_radio .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper_radio .option span{
  font-size: 20px;
  color: #808080;
  margin-left: 35px;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}

#dot_1{
  width: 35px;
}

#dot_2{
  width: 27px;
}